Assignmet 17

In [2]:
import pandas as pd

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\arup\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\arup\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\arup\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\arup\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\arup\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

Q1. Create a pandas series that contains the following data:4, 8, 15, 23, and 42. Then, print the series.

In [5]:
s=pd.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
l=['A','B','C','D','E','F','G','H','I','J']
s1=pd.Series(l)
print(s1)

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [9]:
#Ans:
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

Ans: Pandas DataFrame is a two-dimensional size, mutable, potentially heterogeneous tabuler data structure with labeled axes
     (rows and columns). Pandas DataFrame consists of three principle components, the data, rows, and columns.
     2nd part:
     1. Pandas DataFrame is 2-dimensional. Whereas, pandas series is 1-dimensional.
     2. Pandas DataFrame contains multiple lists of data. Whereas, pandas series contains a single list of data.
     3. In pandas DataFrame there may be multiple keys in the dictionery. Whereas, in case of pandas series, there will be only         one key in the dictionery. 
     4. Pandas DataFrame is size-mutable. Whereas, pandas series is size-immutable.

In [17]:
#Let us consider an example:
data1=[1,2,3,4]                                                       # take a list of data data1
series=pd.Series(data1)                                               #create a pandas series series
data2={'A':[1,2],'B':[3,4],'C':[5,6]}                                             #create a dictionery data1
df=pd.DataFrame(data2)                                                #create a dataFrame df
print(series)                                                         #After print both the object, we see that series is 1-dimensional
print(df)                                                             # like a column of excel sheet and df is 2-dimensional 
                                                                      # like a table(rows and columns)

0    1
1    2
2    3
3    4
dtype: int64
   A  B  C
0  1  3  5
1  2  4  6

Q5. What are some common functions you can use to manipulate data in a pandas DataFrame? Can you give an example of when you         might use one of these functions?

Ans: 1. head()
     2. tail()
     3. merge()
     4. describe()
     5. loc[:]
     6. iloc[:]
     7. Categorical()
     8. concat()

In [5]:
df=pd.read_csv("test.csv")                 #create a DataFrame from a csv file test.csv.
h=df.head()                                #now call the head() function, by dafault this shows the 5 rows from the DataFrame df
h1=df.head(3)                              # here we pass 3 as argument in the head function, that means this print the 3 rows
print(h)                                   # of df.
print()
print(h1)

  Name Roll no  Age  Gender
0    A     S01   20    Male
1    B     S02   21  Female
2    C     S03   22  Female
3    D     S04   23  Female
4    E     S05   21    Male

  Name Roll no  Age  Gender
0    A     S01   20    Male
1    B     S02   21  Female
2    C     S03   22  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: DataFrame is mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
#Ans:
students=pd.Series(['A','B','C','D','E','F'])                   # create 3 series students, subjects, marks
subjects=pd.Series(['C','C++','Python','Java','C#','Swift'])    #create a DataFrame df by using concat() method, where the
marks=pd.Series([80,90,85,75,95,79])                            #serieses  students, subjects and marks are pass as a argument 
df=pd.concat([students,subjects,marks],axis=1)                  # in concat() method and axis=1 (column wise)
print(df)                                                       #here we combine 3 series, to create the DataFrame df

   0       1   2
0  A       C  80
1  B     C++  90
2  C  Python  85
3  D    Java  75
4  E      C#  95
5  F   Swift  79